[submodule "subprojects/param"]
	path = subprojects/param
	url = https://github.com/spaceinventor/libparam
[submodule "subprojects/csp"]
	path = subprojects/csp
	url = https://github.com/spaceinventor/libcsp
[submodule "src/crypto/sodium"]
	path = src/crypto/sodium
	url = https://github.com/jedisct1/libsodium.git
